* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Logo */
.logo img {
  width: 125px;
}

/* Global */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

/* Containers */
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 30px;
}

/* Grid */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-2 {
  flex-basis: 48%;
  min-width: 250px;
  text-align: center;
}

.col-2 img {
  max-width: 90%;
  margin: 3px auto;
  display: block;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 15px 0;
}

/* Buttons */
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

/* Header section */
.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 50px;
}

.categories {
  margin: 50px 20px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-3 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 10px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-height: 200px;
  margin-bottom: 50px;

  justify-content: center;
}
.col-4 img {
  width: 100%;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.col-4 h4 {
  padding: 10px;
  font-size: 1.4rem;
  color: #555;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5);
}
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}
.testimonial {
  text-align: center;
  padding-top: 100px;
  margin: 10px;
}

.row2 {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.col-5 {
  flex-basis: 30%;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-5:hover {
  transform: translateY(-10px);
}

.col-5 img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
  object-fit: cover;
}
.col-5 .fa .fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.col-5 p {
  font-size: 13px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-5 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
/*--- brand-----*/
.brands {
  margin: 100px auto;
}
.col-6 {
  width: 160px;
}
.col-6 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-6 img:hover {
  filter: grayscale(0);
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style: none;
}
.app-logo img {
  width: 140px;
}
.copyright {
  text-align: center;
  padding: 5px;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/*---- Media Query For Tablet (max-width: 800px) -----*/
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  nav ul li {
    display: block;
    margin: 15px 0;
    color: #fff;
    text-align: center;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/*---- Media Query For Mobile (max-width: 600px) -----*/
@media only screen and (max-width: 600px) {
  .row,
  .row2 {
    text-align: center;
    flex-direction: column;
  }

  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .testimonial .col-3 {
    margin-bottom: 25px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
